

<div id="<%= dom_id artist %>">
<p>
    <strong class= "image.txt"></strong>
    <img src="<%= artist.image %>" alt=""class="image">

  </p>


  <p>
    <strong class="artistetxt">Nom de l'artiste :</strong>
    <%= artist.name %>
  </p>


  <p>
    <strong class="domainetxt">Domaine :</strong>
    <%= artist.domain %>
  </p>

  <p>
    <strong class="descriptiontxt">Biographie et réalisations :</strong>
    <%= artist.description %>

  </p>


</div>
