<p style="color: green"><%= notice %></p>

<%= render @artist %>

<div>
  <%= link_to "Modifier la page de l'artiste", edit_artist_path(@artist) %> |
  <%= link_to "Retourner à la page artistes", artists_path %>

  <%= button_to "Supprimer l'article ", @artist, method: :delete %>
</div>
